.info {
    position: fixed;
    font-family: sans-serif;
    top: 20%;
    right: 3%;
    width: 300px;
    height: 700px;
    text-align: center;
}

.info div {
    padding: 20px;
    border: 1px solid black;
}